body {
  background-color: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  /* ../../img/jumbotron.png */
}
header .topnav {
  background-color: #0282f9;
  display: flex;
  height: 30px;
  align-items: end;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  color: #ffffff;
}
header .topnav div:first-child {
  margin-right: 50px;
}
header .topnav div:last-child {
  margin-right: 10px;
}
header .main_menu {
  display: flex;
  height: 100px;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
}
header .main_menu .logo {
  padding-right: 120px;
}
header .main_menu .logo img {
  width: 70%;
  height: 70%;
}
header .main_menu nav ul {
  display: flex;
  list-style-type: none;
}
header .main_menu nav ul li a:hover {
  border-bottom: 3px solid #0282f9;
}
header .main_menu nav ul li a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  color: #303030;
  margin: 10px;
}
header .main_menu nav ul .input-container {
  margin-left: 50px;
  border-bottom: 3px solid #0282f9;
}
header .main_menu nav ul .input-container input {
  text-align: right;
  width: 100px;
  border: none;
}
header .main_menu nav ul .input-container input:focus {
  outline-width: 0;
}
header .main_menu nav ul .input-container i {
  color: #303030;
  padding-left: 3px;
  font-size: 14px;
}

.jumbotron {
  background: url(../../img/jumbotron.jpg);
  background-size: cover;
  height: 420px;
  /* img{
      height: 500px;
      width:100%;
  } */
}

main {
  /* background-image: url("/blog/public/img/jumbotron.png"); */
}
main .container {
  width: 60%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .container .comic {
  max-width: 120px;
  margin: 10px 30px;
}
main .container .comic a {
  color: #c7c7c7;
  text-decoration: none;
  text-align: center;
  word-wrap: break-word;
}
main .container .comic img {
  max-width: 120px;
}

/* show */
.comic1 {
  color: #ffffff;
  width: 196px;
  position: absolute;
  top: 325px;
  left: 235px;
}
.comic1 img {
  border: 2px solid white;
}
.comic1 .gallery {
  width: 98%;
  margin: auto;
  height: 30px;
  background-color: #69a2f8;
  position: absolute;
  bottom: 6px;
  left: 2px;
  text-align: center;
}
.comic1 .gallery h4 {
  padding-top: 5px;
}

.show-container {
  display: flex;
  justify-content: center;
}
.show-container .action-comics {
  text-align: center;
}

/* /SHOW */
.button {
  display: flex;
  justify-content: center;
}
.button button {
  border-radius: 2px;
  background-color: #0282f9;
  color: #ffffff;
  width: 180px;
  height: 30px;
  font-size: 15px;
  font-weight: 600;
  box-shadow: none;
}

.elements {
  width: 100%;
  height: 100px;
  background-color: #0282f9;
  display: flex;
  justify-content: center;
}
.elements div {
  padding: 20px;
  display: flex;
}
.elements div span {
  align-self: center;
  color: white;
  z-index: 100;
}
.elements div img {
  margin: 5px 10px;
  width: 50px;
  height: 60px;
  z-index: 100;
}

footer {
  /* height: 250px; */
  width: 100%;
  background-image: url(../../img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
footer .container {
  position: relative;
  display: flex;
  padding-top: 20px;
  justify-content: center;
  height: 380px;
}
footer .left-footer {
  margin-right: 50px;
}
footer .left-footer h1, footer .central-footer h1, footer .right-footer h1 {
  color: #ffffff;
  margin-bottom: 20px;
}
footer .left-footer li, footer .central-footer li, footer .right-footer li {
  list-style-type: none;
  padding: 5px;
}
footer .left-footer li a, footer .central-footer li a, footer .right-footer li a {
  color: #c7c7c7;
  text-decoration: none;
}
footer .logo-footer {
  z-index: 1;
}
footer .logo-footer img {
  position: relative;
  bottom: 100px;
  left: 130px;
}
footer .cookies {
  padding-top: 20px;
  width: 55%;
  text-align: left;
  margin: auto;
  color: #c7c7c7;
}
footer .cookies a {
  color: #0282f9;
  text-decoration: none;
}
footer .signup {
  z-index: 999;
  padding: 0 22.5%;
  margin: auto;
  height: 100px;
  background-color: #303030;
  display: flex;
  justify-content: space-between;
}
footer .signup .social {
  align-self: center;
}
footer .signup .social a {
  margin-right: 15px;
  color: #0282f9;
  text-decoration: none;
}
footer .signup .social img {
  padding-right: 10px;
}
footer .signup button {
  align-self: center;
  height: 50%;
  padding: 20px;
  border-color: #0282f9;
  background-color: #303030;
  color: #ffffff;
  font-weight: 600;
}