//common
body{
    background-color: #333;

}
$dc-blue: #0282f9;
$dc-dark: #1c1c1c;
$dc-gray: #303030;
$dc-ligh-gray: #c7c7c7;
$dc-white: #ffffff; 

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
// header
header{
    .topnav{
        background-color:$dc-blue;
        display: flex;
        height: 30px;
        align-items: end;
        justify-content: flex-end;
        align-items: center;
        font-size: 12px;
        color:$dc-white;
        div:first-child{
            margin-right: 50px;
        }
        div:last-child{
            margin-right: 10px;
        }
    } /* ../../img/jumbotron.png */
    .main_menu{
        display: flex;
        height:100px;
        background-color: $dc-white;
        align-items: center;
        justify-content: center;
        .logo{
            padding-right: 120px;
            img{
                width:70%;
                height: 70%;
            }
        }
        nav{
            ul{
                display: flex;
                list-style-type: none;
                li{
                    a:hover{
                        border-bottom: 3px solid $dc-blue;
                    }
                    a{ 
                        text-transform: uppercase;
                        color:white;
                        text-decoration: none;
                        color: $dc-gray; 
                        margin: 10px;
                    }
                    
                }
                .input-container{
                    margin-left: 50px;
                    border-bottom: 3px solid $dc-blue;
                    input{
                    text-align: right;
                    width:100px;
                    border: none;
                    }
                    input:focus {
                        outline-width: 0;
                    }
                    i{
                        color:$dc-gray;
                        padding-left:3px;
                        font-size: 14px;
                    }
                }
                
            }
        }
    }
}

//main
.jumbotron{
    background: url(../../img/jumbotron.jpg);
    background-size: cover;
    height: 420px;
    /* img{
        height: 500px;
        width:100%;
    } */
}
main{
    .container{
        width:60%;
        margin:auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .comic{
            a{
                color:$dc-ligh-gray;
                text-decoration: none;
                text-align: center;
                word-wrap: break-word;
            }
            max-width:120px;
            margin:10px 30px;
            img{
            max-width:120px;
                
            }
        }
    }
    /* background-image: url("/blog/public/img/jumbotron.png"); */
    
}
.button{
    display: flex;
    justify-content: center;
    button{
        border-radius: 2px;
        background-color: $dc-blue;
        color: $dc-white;
        width: 180px;
        height: 30px;
        font-size: 15px;
        font-weight: 600;
        box-shadow: none;
    }
}
.elements{
    margin-top: 20px;
    width:100%;
    height:100px;
    background-color: $dc-blue;
    display: flex;
    justify-content: center;
    div{
        padding:20px;
        display: flex;
        span{
            align-self: center;
            color:white;
            z-index: 100;

        }
        img{
        margin: 5px 10px;
        width:50px;
        height: 60px;
        z-index: 100;
        }
    }
    
}
//footer
footer{
    .container{
        position: relative;
        display: flex;
        padding-top: 20px;
        justify-content: center;
        height: 380px;
    }
    /* height: 250px; */
    width:100%;
    background-image: url(../../img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    .left-footer{
        margin-right: 50px;
    }
    .left-footer, .central-footer, .right-footer{
       h1 {
            color:$dc-white;
            margin-bottom: 20px;
        }
        li{
            a{
                 color:$dc-ligh-gray;
                 text-decoration: none;
            }
           
            list-style-type: none;
            padding:5px;
        }
    }

    .logo-footer{

        z-index: 1;
        img{
            position: relative;
            bottom:100px;
            left: 130px;
        }
    }
    .cookies{
        padding-top:20px;
        width:55%;
        text-align: left;
        margin:auto;
        color:$dc-ligh-gray;
        a{
            color:$dc-blue;
            text-decoration: none;
        }

    }
    .signup{
        padding:0 22.5%;
        margin: auto;
        height: 100px;
        background-color:$dc-gray;
        display: flex;
        justify-content: space-between;
        .social{
            align-self: center;
            a{
                margin-right: 15px;
                color:$dc-blue;
                text-decoration: none;
            }
            img{
                padding-right: 10px;
            }
        }
        button{
            align-self: center;
            height: 50%;
            padding:20px;
            border-color: $dc-blue;
            background-color: $dc-gray;
            color:$dc-white;
            font-weight: 600;
        }
    }
}